header{
    background-image:  url(/public/images/banner1.jpg);
    height: 70vh;
    background-repeat: no-repeat;
    object-fit: cover;
    filter: brightness(50%);
    background-position: center;
    position: relative;
}

header nav{
    position: fixed;
}

nav{
    position: fixed !important;
}
.navbar ul{
    position: ;

}

:root .barre a{
    color: black;
}
    :root .ligne{
        color: white;
    }
    :root .deroulant img{
    width: 100%;
    
    filter: brightness(50%);
    top: 0px;
    }
    :root .rouge{
        color: #a62636;
    }
    :root .bouttonblanc {
        border-radius: 40%;
    }
    :root .bouttonrouge{
        border-radius: 40%;
        background-color: #a62636;
        color: white;
    }
    .containers {
        background-image: url(/public/images/main_bg.jpg);
        filter: brightness();

    }
    .blanc{
        background-color: white;
    }
a{
    background-color: white;
}
.image{
    width: 60px;
    height: 60px;
}
.image img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
}
.tarifs{
    color: #a62636;
    background-color: rgba(239,239,239,255);
}
.suite{
    flex-wrap: wrap;
}
.noir{
    background-color: #060405;
}

.para5 p{
    color: white;
}
.fond{
    background-image: url(/public/images/book_table_bg.jpg);
    
    border-radius: 5%;
}
.num{
    font-weight: bolder;
}
.numer{
    color: white;
}
.black p{
    color: black;
}
.boutton2{
    background-color: #c42d40;
    border-radius: 33%;
    color: white;
    font-size: small;
    border: none;
}
.boutton3{
    background-color: #c42d40;
    border-radius: 5%;
    color: white;
    border: none;
    font-weight: bold;
}
.leblog{
    border-radius: 10%;
}
.leblog img{
    border-radius: 7%;
}
.fond4{
    background-image: url(/public/images/testimonials_background.jpg);
    width: 100%;
}
.fin{
    color: white;
}
.fin img{
    border-radius: 50%;
    height: 170px;
}
.geo{
    background-color: #a62636;
    border-radius: 5%;

}
.geo p{
    color: white; 
}
header{
    position: relative;
}
.grand{
    font-size: 35px;
    color: white;
}
.fondfin{
    background-image: url(/public/images/footer_background.jpg);
    width: 100%;
    color: white;
}
.imagefond{
    
    
}
@media screen and (min-width=320px) and (max-width=767px) {
    .fond {
        height: 400vh;
    }
    
}
