
:root .barre a{
    color: black;
}
    :root .ligne{
        color: white;
    }
    :root .deroulant img{
    width: 100%;
    
    filter: brightness(50%);
    top: 0px;
    }
    :root .rouge{
        color: #a62636;
    }
    :root .bouttonblanc {
        border-radius: 40%;
    }
    :root .bouttonrouge{
        border-radius: 40%;
        background-color: #a62636;
        color: white;
    }
    .containers {
        background-image: url(/public/images/main_bg.jpg);
    }
    .blanc{
        background-color: white;
    }
a{
    background-color: white;
}
.image{
    width: 60px;
    height: 60px;
}
.image img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    
}
.tarifs{
    color: #a62636;
    background-color: rgba(239,239,239,255);
}
.suite{
    flex-wrap: wrap;
}